@model ProductViewModel

@{
    ViewData["Title"] = "Product by id";
}
@{
    <h1>Products</h1>
    <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <th scope="row">@Model.Id</th>
                        <td>@Model.Name</td>
                        <td>@Model.Price</td>
                    </tr>
            </tbody>
    </table>
}

