@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-5">This is my anime app</h3>
    <img class="img-fluid" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b122c2e3-08f7-4409-b175-1999bafe3495/d4p02k5-8fa0ad1b-daa6-48e6-a42f-73273f942eea.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2IxMjJjMmUzLTA4ZjctNDQwOS1iMTc1LTE5OTliYWZlMzQ5NVwvZDRwMDJrNS04ZmEwYWQxYi1kYWE2LTQ4ZTYtYTQyZi03MzI3M2Y5NDJlZWEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mPxipMiSALirQQAvjY8KTzIlFO7eOMCkccpUPT39zgE" alt="photo" />
</div>
