@using AnimePlace.Core.Models
@model IEnumerable<Anime>
@{
    ViewData["Title"] = "All animes";
}
@{
    <div class="container">
        <div class="row gy-3 justify-content-center">
        @foreach (var anime in Model)
            {
                <div class="col-sm-auto">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <img class="card-img-top" src="@anime.Image" alt="Anime image" style="height: 400px">
                            <h5 class="card-title">@anime.Title</h5>
                            <p class="card-text">@anime.Description</p>
                            <a href="/Anime/Edit/@anime.Id" class="btn btn-primary">Edit</a>
                            <a href="/Anime/Delete/@anime.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
